In [1]:
import pandas as pd 
import numpy as np

In [7]:
#Creación de set de datos con números aleatorios
np.random.seed(0)

datos1 = np.random.rand(20)*10
datos2 = np.random.rand(20)*10

In [14]:
#Crear un lista de índices
alumnos = []
for i in range(20):
    alumnos.append('alumno_'+ str(i))

In [16]:
#Creación de un data frame
data = pd.DataFrame({
    "Economía": datos1,
    "Administración": datos2
}, index= alumnos)

In [11]:
#Forma del data frame
data.shape

(20, 2)

In [17]:
#Primeos 5 resultados
data.head()

          Economía  Administración
alumno_0  5.488135        9.786183
alumno_1  7.151894        7.991586
alumno_2  6.027634        4.614794
alumno_3  5.448832        7.805292
alumno_4  4.236548        1.182744

Funciones loc & iloc
* loc: Retorna los datos filtrados por el índice del dataset
* iloc: Retorna los datos filtrados por la posición de los datos

In [20]:
data.loc["alumno_0",]

Economía          5.488135
Administración    9.786183
Name: alumno_0, dtype: float64

In [22]:
data.iloc[0]

Economía          5.488135
Administración    9.786183
Name: alumno_0, dtype: float64

In [24]:
data.iloc[2:4]

          Economía  Administración
alumno_2  6.027634        4.614794
alumno_3  5.448832        7.805292

In [25]:
data.iloc[[2,8]]

          Economía  Administración
alumno_2  6.027634        4.614794
alumno_8  9.636628        5.218483

In [28]:
#Filtros condicionales
filtro1 = data.Economía > 5
filtro1.head()

alumno_0     True
alumno_1     True
alumno_2     True
alumno_3     True
alumno_4    False
Name: Economía, dtype: bool

In [37]:
#Retornar las columnas con alumnas con notas superiores a 5
data[(data.Economía > 5) & (data.Administración > 5)]

           Economía  Administración
alumno_0   5.488135        9.786183
alumno_1   7.151894        7.991586
alumno_3   5.448832        7.805292
alumno_5   6.458941        6.399210
alumno_7   8.917730        9.446689
alumno_8   9.636628        5.218483
alumno_11  5.288949        7.742337
alumno_13  9.255966        5.684339
alumno_17  8.326198        6.169340
alumno_18  7.781568        9.437481
alumno_19  8.700121        6.818203

In [42]:
#Importación de archivos
path = '1inch.csv'

data_ripple = pd.read_csv(path, index_col='Date')
data_ripple.head()

                Open      High       Low     Close       Volume Currency
Date
2020-12-25  1.602781  2.918094  1.375262  2.328544  638225549.0      USD
2020-12-26  2.318946  2.434916  1.582264  1.596896  237653073.0      USD
2020-12-27  1.597744  1.630781  1.056657  1.062112  183978307.0      USD
2020-12-28  1.064454  1.254447  1.049051  1.110076  119337529.0      USD
2020-12-29  1.110460  1.111282  0.761151  0.887798  137916899.0      USD

In [43]:
#Números de filas y columnas
data_ripple.shape

(606, 6)