Label enconding

*   converting the labels into numeric form

In [1]:
# Import the libraires
import pandas as pd
from sklearn.preprocessing import LabelEncoder

Label enconding of Brest Cancer Dataset

In [2]:
# Read the csv file
cancer_data = pd.read_csv('data.csv')

cancer_data.sample(5)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
480,912193,B,12.16,18.03,78.29,455.3,0.09087,0.07838,0.029160,0.015270,...,27.87,88.83,547.4,0.12080,0.22790,0.16200,0.05690,0.2406,0.07729,NaN
544,922297,B,13.87,20.70,89.77,584.8,0.09578,0.10180,0.036880,0.023690,...,24.75,99.17,688.6,0.12640,0.20370,0.13770,0.06845,0.2249,0.08492,NaN
305,893061,B,11.60,24.49,74.23,417.2,0.07474,0.05688,0.019740,0.013130,...,31.62,81.39,476.5,0.09545,0.13610,0.07239,0.04815,0.3244,0.06745,NaN
316,894090,B,12.18,14.08,77.25,461.4,0.07734,0.03212,0.011230,0.005051,...,16.47,81.60,513.1,0.10010,0.05332,0.04116,0.01852,0.2293,0.06037,NaN
232,88203002,B,11.22,33.81,70.79,386.8,0.07780,0.03574,0.004967,0.006434,...,41.78,78.44,470.9,0.09994,0.06885,0.02318,0.03002,0.2911,0.07307,NaN

In [3]:
# Finding the count of diffent labels
cancer_data['diagnosis'].value_counts()

diagnosis
B    357
M    212
Name: count, dtype: int64

In [4]:
# Load the Label Encoder function
label_encode = LabelEncoder()

In [5]:
# Creaitng a array with numeric values
labels = label_encode.fit_transform(cancer_data.diagnosis)

In [6]:
# Appending the lables to the DataFrame
cancer_data['target'] = labels

In [7]:
cancer_data.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32,target
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN,1
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN,1
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN,1
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN,1
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN,1

0 ---> Benign  
1 ---> Malign

In [8]:
cancer_data['target'].value_counts()

target
0    357
1    212
Name: count, dtype: int64

Iris Dataset

In [9]:
# Read the csv file
iris_data = pd.read_csv('iris_data.csv')

iris_data.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
79,80,5.7,2.6,3.5,1.0,Iris-versicolor
27,28,5.2,3.5,1.5,0.2,Iris-setosa
69,70,5.6,2.5,3.9,1.1,Iris-versicolor
91,92,6.1,3.0,4.6,1.4,Iris-versicolor
48,49,5.3,3.7,1.5,0.2,Iris-setosa

In [10]:
iris_data['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [11]:
# Loading the Label Encoder
label_encoder_1 = LabelEncoder()

In [12]:
# Creaitng a array with numeric values
iris_labels = label_encoder_1.fit_transform(iris_data.Species)

In [13]:
# Appending the lables to the DataFrame
iris_data['target'] = iris_labels

iris_data.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,target
39,40,5.1,3.4,1.5,0.2,Iris-setosa,0
83,84,6.0,2.7,5.1,1.6,Iris-versicolor,1
25,26,5.0,3.0,1.6,0.2,Iris-setosa,0
90,91,5.5,2.6,4.4,1.2,Iris-versicolor,1
38,39,4.4,3.0,1.3,0.2,Iris-setosa,0

In [14]:
iris_data.target.value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64

Los valores se asignan alfabéticamente  
0 ---> Iris-setosa  
1 ---> Iris-versicolor  
2 ---> Iris-virginica