In [2]:
import pandas as pd 
import numpy as np

In [3]:
#Creación de set de datos con números aleatorios
np.random.seed(0)

datos1 = np.random.rand(20)*10
datos2 = np.random.rand(20)*10

In [4]:
#Crear un lista de índices
alumnos = []
for i in range(20):
    alumnos.append('alumno_'+ str(i))

In [5]:
#Creación de un data frame
data = pd.DataFrame({
    "Economía": datos1,
    "Administración": datos2
}, index= alumnos)

In [6]:
#Forma del data frame
data.shape

(20, 2)

In [7]:
#Primeos 5 resultados
data.head()

          Economía  Administración
alumno_0  5.488135        9.786183
alumno_1  7.151894        7.991586
alumno_2  6.027634        4.614794
alumno_3  5.448832        7.805292
alumno_4  4.236548        1.182744

Funciones loc & iloc
* loc: Retorna los datos filtrados por el índice del dataset
* iloc: Retorna los datos filtrados por la posición de los datos

In [8]:
data.loc["alumno_0",]

Economía          5.488135
Administración    9.786183
Name: alumno_0, dtype: float64

In [9]:
data.iloc[0]

Economía          5.488135
Administración    9.786183
Name: alumno_0, dtype: float64

In [10]:
data.iloc[2:4]

          Economía  Administración
alumno_2  6.027634        4.614794
alumno_3  5.448832        7.805292

In [11]:
data.iloc[[2,8]]

          Economía  Administración
alumno_2  6.027634        4.614794
alumno_8  9.636628        5.218483

In [12]:
#Filtros condicionales
filtro1 = data.Economía > 5
filtro1.head()

alumno_0     True
alumno_1     True
alumno_2     True
alumno_3     True
alumno_4    False
Name: Economía, dtype: bool

In [13]:
#Retornar las columnas con alumnas con notas superiores a 5
data[(data.Economía > 5) & (data.Administración > 5)]

           Economía  Administración
alumno_0   5.488135        9.786183
alumno_1   7.151894        7.991586
alumno_3   5.448832        7.805292
alumno_5   6.458941        6.399210
alumno_7   8.917730        9.446689
alumno_8   9.636628        5.218483
alumno_11  5.288949        7.742337
alumno_13  9.255966        5.684339
alumno_17  8.326198        6.169340
alumno_18  7.781568        9.437481
alumno_19  8.700121        6.818203

In [14]:
#Importación de archivos
path = '1inch.csv'

data_ripple = pd.read_csv(path, index_col='Date')
data_ripple.head()

                Open      High       Low     Close       Volume Currency
Date
2020-12-25  1.602781  2.918094  1.375262  2.328544  638225549.0      USD
2020-12-26  2.318946  2.434916  1.582264  1.596896  237653073.0      USD
2020-12-27  1.597744  1.630781  1.056657  1.062112  183978307.0      USD
2020-12-28  1.064454  1.254447  1.049051  1.110076  119337529.0      USD
2020-12-29  1.110460  1.111282  0.761151  0.887798  137916899.0      USD

In [15]:
#Números de filas y columnas
data_ripple.shape

print(f"Este conjunto de datos contiene {data_ripple.shape[0]} filas y {data_ripple.shape[1]} columnas")

Este conjunto de datos contiene 606 filas y 6 columnas

In [16]:
#Mostrar los índices del set de datos
data_ripple.index

Index(['2020-12-25', '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
       '2020-12-30', '2020-12-31', '2021-01-01', '2021-01-02', '2021-01-03',
       ...
       '2022-08-13', '2022-08-14', '2022-08-15', '2022-08-16', '2022-08-17',
       '2022-08-18', '2022-08-19', '2022-08-20', '2022-08-21', '2022-08-23'],
      dtype='object', name='Date', length=606)

### Series

Es la parte elemento más básico de un conjunto de datos, la unión de varias series forman un data frame

In [17]:
serie = pd.Series(range(1,10,2))
serie

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [18]:
#Creación de un serie con índice personalizado
serie_1 = pd.Series(range(1,5), index=["a", "b", "c", "d"])
serie_1

a    1
b    2
c    3
d    4
dtype: int64

In [19]:
#Extraer información de una serie por el índice
serie_1[["c", 'a']]

c    3
a    1
dtype: int64

In [20]:
#Datos de fecha en el índice
fechas = pd.date_range('2017-09-15', '2017-09-19')
fechas

DatetimeIndex(['2017-09-15', '2017-09-16', '2017-09-17', '2017-09-18',
               '2017-09-19'],
              dtype='datetime64[ns]', freq='D')

In [21]:
#Usar la fecha como índice
temps = pd.Series(np.random.randint(5,25,5), index=fechas)
temps

2017-09-15     6
2017-09-16     6
2017-09-17    12
2017-09-18    14
2017-09-19     8
Freq: D, dtype: int32

In [22]:
#Podemos extraer los datos de x fecha
temps["2017-09-18"]

14

In [23]:
#Realizar opereciones matemáticas con series
temps2 = pd.Series(np.random.randint(-5,10,5), index= fechas)
temps2

2017-09-15    1
2017-09-16    2
2017-09-17    6
2017-09-18    9
2017-09-19   -3
Freq: D, dtype: int32

In [24]:
temps_sum = temps + temps2
temps_sum

2017-09-15     7
2017-09-16     8
2017-09-17    18
2017-09-18    23
2017-09-19     5
Freq: D, dtype: int32

In [25]:
temps_sum.mean()

12.2

In [26]:
temps_sum.sum()

61

### DataFrame Pandas
Unión de múltiples series con índice común

In [27]:
df = pd.DataFrame({
    "Mexico":temps,
    "Canada":temps2
})
df

            Mexico  Canada
2017-09-15       6       1
2017-09-16       6       2
2017-09-17      12       6
2017-09-18      14       9
2017-09-19       8      -3

In [28]:
valores_1 = df["Mexico"]
valores_1

2017-09-15     6
2017-09-16     6
2017-09-17    12
2017-09-18    14
2017-09-19     8
Freq: D, Name: Mexico, dtype: int32

In [29]:
valores_2 = df["Mexico"].tolist()
valores_2

[6, 6, 12, 14, 8]

In [30]:
print(type(valores_1))
print(type(valores_2))
print(type(df))

<class 'pandas.core.series.Series'>
<class 'list'>
<class 'pandas.core.frame.DataFrame'>

In [31]:
estado_1 = 'Mexico'
estado_2 = "Canada"
df[[estado_2, estado_1]]

            Canada  Mexico
2017-09-15       1       6
2017-09-16       2       6
2017-09-17       6      12
2017-09-18       9      14
2017-09-19      -3       8

In [32]:
#Si el nombre de la columna no tiene espacios, se puede acceder a ella de la siguiente forma: "Nombre df" + "." + "nombre columna"
df.Mexico

2017-09-15     6
2017-09-16     6
2017-09-17    12
2017-09-18    14
2017-09-19     8
Freq: D, Name: Mexico, dtype: int32

In [33]:
#Crear una nueva columna
df["Chile"] = pd.Series(np.random.randint(0,15,5), index= fechas)
df

            Mexico  Canada  Chile
2017-09-15       6       1     11
2017-09-16       6       2      0
2017-09-17      12       6     14
2017-09-18      14       9      3
2017-09-19       8      -3      5

In [34]:
#Mostrar los 3 últimos valores de la columna Chile
df.Chile[:3]

2017-09-15    11
2017-09-16     0
2017-09-17    14
Freq: D, Name: Chile, dtype: int32

In [35]:
#Mostrar las dos primeres filas
df.iloc[0:2]

            Mexico  Canada  Chile
2017-09-15       6       1     11
2017-09-16       6       2      0

In [36]:
#Convertir a serie un diccionario (Las claves se convierten en los índices)
pd.Series({
    "nombre":"Martha",
    "apellido":"Julia",
    "edad":23
})

nombre      Martha
apellido     Julia
edad            23
dtype: object

In [37]:
#La multiplicación sobre una serie se la hace como iteración
x = pd.Series(np.arange(0,5))
x * 5

0     0
1     5
2    10
3    15
4    20
dtype: int32

In [38]:
#Propiedades de las series
s = pd.Series(np.arange(-10,0))

print(f"Valores: {s.values}")
print(f"Índices: {s.index}")
print(f"Longitud: {len(s)}")
print(f"Tamaño: {s.size}")

Valores: [-10  -9  -8  -7  -6  -5  -4  -3  -2  -1]
Índices: RangeIndex(start=0, stop=10, step=1)
Longitud: 10
Tamaño: 10

In [39]:
#Obtener subconjuntos de una serie
s1 = pd.Series(np.arange(100,120), index=np.arange(10,30))
s1

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
18    108
19    109
20    110
21    111
22    112
23    113
24    114
25    115
26    116
27    117
28    118
29    119
dtype: int32

In [40]:
#Extraer solo los valores pares de las 10 primeras entradas
s1[0:10:2]

10    100
12    102
14    104
16    106
18    108
dtype: int32

In [41]:
s1[10::3]

20    110
23    113
26    116
29    119
dtype: int32

In [42]:
#Suma por índices
sa = pd.Series([10,15], index=["a", "b"])
sb = pd.Series([2,4], index=["b", "a"])

print(sa,"\n",sb)

a    10
b    15
dtype: int64
 b    2
a    4
dtype: int64

In [43]:
#Suma los valores por índices iguales
sa + sb

a    14
b    17
dtype: int64

In [44]:
sc = pd.Series(3, index=sa.index) #Repite el valor pasado por la cantidad de los elementes del índice
sc

a    3
b    3
dtype: int64

In [45]:
sd = pd.Series(4, index=['a','b','c','d'])

In [46]:
sc * sd #Retorna un NaN en los valores donde no existen valores en ambas series

a    12.0
b    12.0
c     NaN
d     NaN
dtype: float64

In [47]:
a = pd.Series([10,23,43], index = ['a', 'a', 'b'])
b = pd.Series([15,3,4,57], index = ['a', 'a', 'b', 'c'])

a + b

a    25.0
a    13.0
a    38.0
a    26.0
b    47.0
c     NaN
dtype: float64

In [48]:
#Filtros con datos booleanos
s = pd.Series(np.arange(0,5), index= list("abcde"))
logica = s >= 3
logica

a    False
b    False
c    False
d     True
e     True
dtype: bool

In [49]:
s[logica]

d    3
e    4
dtype: int32

In [50]:
#Varias comparaciones a la vez
s[(s >= 2) & (s < 4)]

c    2
d    3
dtype: int32

In [51]:
# Con la función ".all()" se establece si todos los valores cumplen una condición, compara todos los valores y si todos los valores son True devuelve True
(s >= 0).all()

True

In [52]:
#Suma de los todos los valores que son mayores o iguales a 3
(s >= 3).sum()

2

In [53]:
#Cambiar el tipo de dato de un índice
c1 = pd.Series([10,20,30], index = [1,2,3])
c2 = pd.Series([100,200,300], index = ["1", "2", "3"])

c1 + c2

1   NaN
2   NaN
3   NaN
1   NaN
2   NaN
3   NaN
dtype: float64

In [54]:
c2.index = c2.index.values.astype(int)
c1 + c2

1    110
2    220
3    330
dtype: int64

In [55]:
#Redondeo de valores
d1 = np.random.rand(5).round(3)*10
d2 = np.random.rand(5).round(3)*10

In [56]:
#Creación de índice
estu = []
for i in range(len(d1)):
    estu.append('estudiante_'+str(i+1))


#Creación del df
nota = pd.DataFrame({
    "Parcial_1": d1,
    "Parcial_2": d2},
    index= estu)

nota

              Parcial_1  Parcial_2
estudiante_1       3.25       6.35
estudiante_2       0.38       9.95
estudiante_3       6.34       5.82
estudiante_4       9.59       4.14
estudiante_5       6.53       4.75

In [57]:
#Creación de una columna categórica
nota["Estado"] = nota.Promedio.apply(lambda x: "Aprobado" if x >= 6.5 else "Suspeno" if x >= 4.5 else "Reprobado")
nota

AttributeError: 'DataFrame' object has no attribute 'Promedio'