### Exercise:
In exercise folder (same level as this notebook on github) there is hiring.csv. This file contains hiring statics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates,

2 yr experience, 9 test score, 6 interview score

12 yr experience, 10 test score, 10 interview score

In [4]:
#Importación de librerías
import pandas as pd 
import numpy as np
from word2number import w2n
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
#Importación de los datos
df = pd.read_csv('hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [8]:
#Gestión de nulos primera columna
df["experience"].fillna("zero", inplace=True)

df["experience"] = df['experience'].apply(w2n.word_to_num)

ValueError: Type of input is not string! Please enter a valid number word (eg. 'two million twenty three thousand and forty nine')

In [17]:
mean_df = int(df.iloc[:,2].mean())
df.iloc[:,1].fillna(mean_df, inplace=True)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [21]:
#Creación del modelo de regresión múltiple
reg = linear_model.LinearRegression()

#Entrenamiento del modelo
reg.fit(df[["experience", "test_score(out of 10)", "interview_score(out of 10)"]], df["salary($)"])

LinearRegression()

In [25]:
#Reultado 1
reg.predict([[2,9,6]])

c:\Users\mmce5\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53713.86677124])

In [26]:
#Resultado 2
reg.predict([[12,10,10]])

c:\Users\mmce5\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([93747.79628651])